<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name, style: "display: block"%>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :inventory_count, style: "display: block" %>
    <%= form.number_field :inventory_count %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  <div>

  <%= render "image_preview", form: form, product: @product %>

  <%= form.submit %>
  </div>
<% end %>