<h1><%= t ".title" %></h1>

<!-- 
<div id="products">
  <h2> List of products </h2>
  <% @products.each do |product| %>
  <a class="product"
    href="/products/<%= product.id %>"
  >
    <span><%= product.id %></span>
    <span><%= product.name %></span>
    <span><%= product.created_at %></span>
    <span><%= product.updated_at %></span>
  </a>
  <% end %>
</div>
-->

<%= link_to "New Product", new_product_path if authenticated? %>

<% cache @products do %>
  <div id="products">
    <h2> <%= t ".list_of_products" %></h2>
    <% @products.each do |product| %>
    <div class="product">
      <%= link_to product.name, product%>
    </div>
    <% end %>
  </div>
<% end %>

<%= debug @products %>